<ion-header class="ion-no-border" #header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Search any recipe" (ionChange)="searchRecipes($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
  
<ng-container *ngIf="!showContent">
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
  <ion-content [appHideHeader]="header"  [fullscreen]="true" scrollEvents="true" >

    <ion-grid class="spotlight">
      <ion-row >
        <ion-col class="large-spotlight">
          <ion-title class="spotlight-title">Featured Meal</ion-title>
          <ion-button expand="block" class="spotlight-btn" (click)="addFeaturedRecipe()">
            Add Baked Mac & Cheese 
          </ion-button>

          <ion-img class="large-spotlight-image" src="assets/recipe-images/Baked-mac-cheese-hero.jpg" alt=""></ion-img>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col class="small-spotlight">
          <ion-img class="large-spotlight-image" src="assets/recipe-images/placeholder.jpg" alt=""></ion-img>
        </ion-col>
        <ion-col class="small-spotlight" size="4">
          <ion-img class="large-spotlight-image" src="assets/recipe-images/placeholder.jpg" alt=""></ion-img>
        </ion-col>
        <ion-col class="small-spotlight last">
          <ion-img class="large-spotlight-image" src="assets/recipe-images/placeholder.jpg" alt=""></ion-img>
        </ion-col>
      </ion-row> -->
      
    </ion-grid>

    <ion-title class="section">Recent Searches</ion-title>
    <ion-slides class="slides" [options]="slideOpts">
      <ng-container *ngFor="let recipe of recipes">
        <ion-slide *ngIf="recipe.recipe_id % 2 == 0">
          <ion-col>
            <ion-row>
              <ion-card class="recipe-card">
                <ion-img class="recipe-img" [src]="getImage(recipe.recipe_image)" alt=""></ion-img>
                <ion-fab vertical="bottom" horizontal="end">
                  <ion-fab-button class="add-btn" (click)="addRecipeToList(recipe.recipe_id)">
                    <ion-icon class="btn-icon" name="add"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </ion-card>
            </ion-row>
            <ion-row class="card-title">
              <ion-title class="recipe-title">{{recipe.recipe_name}}</ion-title>
            </ion-row>
          </ion-col>
          </ion-slide>
      </ng-container>
    </ion-slides>

    <ion-title class="section">Favorites</ion-title>
    <ion-slides class="slides" [options]="slideOpts">
      <ng-container *ngFor="let recipe of recipes">
        <ion-slide *ngIf="recipe.recipe_id % 2 != 0">
          <ion-col>
            <ion-row>
              <ion-card class="recipe-card">
                <ion-img class="recipe-img" [src]="getImage(recipe.recipe_image)" alt=""></ion-img>
                <ion-fab vertical="bottom" horizontal="end">
                  <ion-fab-button class="add-btn" (click)="addRecipeToList(recipe.recipe_id)">
                    <ion-icon class="btn-icon" name="add"></ion-icon>
                  </ion-fab-button>
                </ion-fab>
              </ion-card>
            </ion-row>
            <ion-row class="card-title">
              <ion-title class="recipe-title">{{recipe.recipe_name}}</ion-title>
            </ion-row>
          </ion-col>
          </ion-slide>
      </ng-container>
    </ion-slides>

  </ion-content>

</ng-container>



<ng-container *ngIf="showContent">
  <ion-content>
      <ion-row *ngFor="let recipe of filteredRecipes; let i = index">
        <ion-col class="search-card" size="5">
          <ion-row>
            <ion-card class="recipe-card">
              <ion-img class="recipe-img" [src]="getImage(recipe.recipe_image)" alt=""></ion-img>
              <ion-fab vertical="bottom" horizontal="end">
                <ion-fab-button class="add-btn" (click)="addRecipeToList(recipe.recipe_id)">
                  <ion-icon class="btn-icon" name="add"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-card>
          </ion-row>
          <ion-row class="card-title">
            <ion-title class="recipe-title">{{recipe.recipe_name}}</ion-title>
          </ion-row>
        </ion-col>

        <!-- <ion-col class="search-card" size="5">
          <ion-row>
            <ion-card class="recipe-card">
              <ion-img class="recipe-img" [src]="getImage(nextRecipe.recipe_image)" alt=""></ion-img>
              <ion-fab vertical="bottom" horizontal="end">
                <ion-fab-button class="add-btn" (click)="addRecipeToList(nextRecipe.recipe_id)">
                  <ion-icon class="btn-icon" name="add"></ion-icon>
                </ion-fab-button>
              </ion-fab>
            </ion-card>
          </ion-row>
          <ion-row class="card-title">
            <ion-title class="recipe-title">{{nextRecipe.recipe_name}}</ion-title>
          </ion-row>
        </ion-col> -->
      </ion-row>
    
  </ion-content>
</ng-container>