

  .card-title{
    margin-top: 20px;
  }

.section{
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 22px;
}

.slides{
  padding: 10px;
}

.spotlight-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.spotlight-title{
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 40px;
}

.recipe-title{
  text-align: left;
  font-size: 16px;
  padding: 0;
  margin-left: 10px;
  overflow: auto;
  white-space: pre-wrap;
  word-break: break-all;
}

.recipe-card{
  width: 220px;
  height: 148px;
}


.add-btn{
  width: 40px;
  height: 40px;

  .btn-icon{
    color: whitesmoke;
  }
}


.btn-icon{
  color: white;
}

.recipe-img{
  border-radius: 5px;
}

.spotlight{
  .large-spotlight {
    border-bottom: solid 1px #fff;
    color: #fff;
    text-align: center;
    height: 100%;
  }
}

.search-card{
  margin-left: 30px;
  margin-top: 20px;
}

.favorite-button {
  left: 0;
  color: white;
  margin-left: 45px;
  ion-icon.heart {
    color: white;
  }
}

.recipe-card-search {
  margin: 16px;
}