 .ellipse-btn{
    font-size: 50px;
}

.category-list{
    margin-bottom: 20px;

    .category-title{
        font-size: 24px;
        margin-left: 10px;
        font-weight: bold;
    }

    .item-desc{
        padding-left: 20px;
    }

    .item-amount{
        text-align: right;
    }

    .checkbox{
        --checkmark-color: white;
    }
}

.empty-container{
    color: rgba(128, 128, 128, 0.596);
    width: 100%;
    text-align: center;
    margin-top: 60%;
}


