<ion-header class="ion-no-border" #header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Search list" (ionChange)="filterItems($event)"></ion-searchbar>
      <ion-buttons slot="primary">
        <ion-button class="ellipse-btn">
          <ion-select interface="action-sheet" (ionChange)="handleEvent($event)">
            <ion-select-option class="delete">Delete Selected</ion-select-option>
            <ion-select-option class="delete">Delete All</ion-select-option>
          </ion-select>
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-list class="category-list">
      <ion-list-header class="category-title">
        Dairy
      </ion-list-header>
      <ng-container *ngFor="let ingredient of filteredGroceryList">
        <ion-item *ngIf="ingredient.ingredient_category == 'Dairy'">
          <ion-checkbox slot="start" class="checkbox" (ionChange)="handleCheckbox($event, ingredient)"></ion-checkbox>
          <ion-label class="ingredient-desc">{{ ingredient.ingredient_name }}</ion-label>
          <ion-label class="ingredient-amount"> Amt </ion-label>
        </ion-item>
      </ng-container>
      
    </ion-list>
  
    <ion-list class="category-list">
      <ion-list-header class="category-title">
        Meat & Fish
      </ion-list-header>
      <ng-container *ngFor="let ingredient of filteredGroceryList">
        <ion-item *ngIf="ingredient.ingredient_category == 'Meat & Fish'">
          <ion-checkbox slot="start" class="checkbox" (ionChange)="handleCheckbox($event, ingredient)"></ion-checkbox>
          <ion-label class="ingredient-desc">{{ ingredient.ingredient_name }}</ion-label>
          <ion-label class="ingredient-amount"> Amt </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list class="category-list">
      <ion-list-header class="category-title">
        Fruits & Vegetables
      </ion-list-header>
      <ng-container *ngFor="let ingredient of filteredGroceryList">
        <ion-item *ngIf="ingredient.ingredient_category == 'Fruits & Vegetables'">
          <ion-checkbox slot="start" class="checkbox" (ionChange)="handleCheckbox($event, ingredient)"></ion-checkbox>
          <ion-label class="ingredient-desc">{{ ingredient.ingredient_name }}</ion-label>
          <ion-label class="ingredient-amount"> Amt </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list class="category-list">
      <ion-list-header class="category-title">
        Condiments & Spices
      </ion-list-header>
      <ng-container *ngFor="let ingredient of filteredGroceryList">
        <ion-item *ngIf="ingredient.ingredient_category == 'Condiments & Spices'">
          <ion-checkbox slot="start" class="checkbox" (ionChange)="handleCheckbox($event, ingredient)"></ion-checkbox>
          <ion-label class="ingredient-desc">{{ ingredient.ingredient_name }}</ion-label>
          <ion-label class="ingredient-amount"> Amt </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list class="category-list">
      <ion-list-header class="category-title">
        Pasta, Rice, Cereals
      </ion-list-header>
      <ng-container *ngFor="let ingredient of filteredGroceryList">
        <ion-item *ngIf="ingredient.ingredient_category == 'Pasta, rice, cereals'">
          <ion-checkbox slot="start" class="checkbox" (ionChange)="handleCheckbox($event, ingredient)"></ion-checkbox>
          <ion-label class="ingredient-desc">{{ ingredient.ingredient_name }}</ion-label>
          <ion-label class="ingredient-amount"> Amt </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list class="category-list">
      <ion-list-header class="category-title">
        Canned Goods
      </ion-list-header>
      <ng-container *ngFor="let ingredient of filteredGroceryList">
        <ion-item *ngIf="ingredient.ingredient_category == 'Canned Goods'">
          <ion-checkbox slot="start" class="checkbox" (ionChange)="handleCheckbox($event, ingredient)"></ion-checkbox>
          <ion-label class="ingredient-desc">{{ ingredient.ingredient_name }}</ion-label>
          <ion-label class="ingredient-amount"> Amt </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-list class="category-list">
      <ion-list-header class="category-title">
        Bread & Baked Goods
      </ion-list-header>
      <ng-container *ngFor="let ingredient of filteredGroceryList">
        <ion-item *ngIf="ingredient.ingredient_category == 'Bread & Baked Goods'">
          <ion-checkbox slot="start" class="checkbox" (ionChange)="handleCheckbox($event, ingredient)"></ion-checkbox>
          <ion-label class="ingredient-desc">{{ ingredient.ingredient_name }}</ion-label>
          <ion-label class="ingredient-amount"> Amt </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  
</ion-content>
