.add-ingredients-btn{
  display: block;
  color: white;
  margin: 10px 15px 5px 15px;
}

.toggle{
    padding: 5px;
}

.add-btn{
    width: 60px;
    height: 60px;
  
    .btn-icon{
      color: whitesmoke;
    }
  }
  
.recipe-title{
    color: black;
    font-size: 25px;
    margin: 10px;
}

.description{
    color: black;
    margin: 10px;
}